# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Build outputs
build/
dist/
*.spec
*.exe

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
backup/
captures/
Inno_Output/
